*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
}
main{
    border: 1px solid powderblue;
}
main section, main article{
    padding-inline: 15px;
}
