@font-face {
  font-family: 'Minecraftia';
  src: url('Minecraftia.ttf') format('truetype');
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cubierta{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #793720;
    z-index: 1; /* Asegura que esté detrás del menú */
    margin-top: 9rem;
    border-radius: 8px;
}
.courses{
    background-color: #FEFCE1;
    border-radius: 8px;
    z-index: 2; /* Asegura que esté delante de la cubierta */
    position: relative;
    margin-top: 9.4rem;
    max-width: 280px;
    min-height: 350px;
}
.courses h2{
    text-align: right;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
.courses ul{
    list-style: none;
    margin-top: -1rem;
    margin-left: 0.1rem;
    padding-left: 20px;
}
.courses ul li a{
    color: black !important;
    font-size: 18px;
    color: var(--main-title);
    text-decoration: none;
}
.courses ul li a:hover{
    color: blueviolet !important;
}
.arrow {
  cursor: pointer;
}

.flechas{
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
}