@font-face {
  font-family: 'Minecraftia';
  src: url('../assets/fonts/Minecraftia.ttf') format('truetype');
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root{
  --background-color: #FEFCEF;
  --main-title: #814E38;
  --main-icon-menu: #814E38;
  --main-icon-linebar: #E3D5B7;
  --icon-bar-background: #814E38;
  --icon-bar-a:white ;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Minecraftia', cursive;
  height: 100% !important;
  overflow-x: hidden;
}
body{
  padding-top: 2.5rem;
  cursor: url("cursor.png"), auto;
}
body > header {
  text-align: center;

}
article header{
  text-align: center;
}
header h1 {
  color: white;
}
header h2, header h1{
  color: var(--main-title);
  font-weight: bolder;
  margin: 0.2em 0;
  padding: 0;
}
main section,
main article {
  padding-inline: 15px;
}
.icono {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem; /* reduce el margen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--main-icon-menu);
  height: 55px;
  width: 45px; /* un poco más pequeño */
  border-radius: 30% 0 0 30%;
  z-index: 10000;
  box-sizing: border-box; /* importante */
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 6px;
  background-color: var(--main-icon-linebar);
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-12px, 11px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-12px, -12px);
}
.icon-bar {
  width: fit-content;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: var(--icon-bar-background);
  z-index: 9999;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transform: translate(150%);
  pointer-events: none;
}
.icon-bar.show {
  transform: translateX(0);
  opacity: 0.95;
  pointer-events: auto;
}
.icon-bar a {
  color: var(--icon-bar-a);
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 20px;
  text-decoration: none;
}
.default{
  background-color: var(--main-icon-linebar);
}
.icon-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.icon-bar li{
  border-bottom: 1px solid #100c09;
  border-top: 1px solid #100c09;
}
.icon-bar a:hover{
  background-color:#34111b;
}
section{
  border-radius: 8px;
  box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 60px 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}
section:hover{
  transform: translate(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}